@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #2a2b2d;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Special Elite", cursive;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2da8d8;
  box-shadow: 0 0 1px #2a2b2d;
  -webkit-box-shadow: 0 0 1px #2a2b2d;
}
.images_for_projects {
  height: 20vh;
  width: 15vw;
}
.middle_content_inner {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header {
  position: relative;
  min-height: 85vh;
  text-align: center;
  background-color: #2da8d8;
}
.inner-header_top {
  height: 35vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 2rem;
  align-items: center;
  flex-direction: column;
}
.middle_content_container {
  border: solid 3px #2a2b2d;
  animation-name: fadeInBottom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.images_under_name {
  height: 3vh;
  width: 3vh;
  opacity: 0.9;
}
.circles_for_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #2a2b2d;
}
.under_images_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-header {
  height: 35vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.links {
  text-decoration: none;
  color: #2a2b2d;
}
.links:hover {
  color: #333436;
}
.link_divs {
  color: #2a2b2d;
}
@keyframes middleLineTop {
  0% {
    opacity: 0;
    width: 3px;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 21vh;
    width: 3px;
    background-color: #2a2b2d;
  }
}
.line_from_top {
  opacity: 0;
  animation-name: middleLineTop;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-duration: 1s;
}
.title_container {
  height: 10vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: fadeInTop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.conatiner_top_one {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.main_title_Iam {
  font-size: 2.5em;
  font-family: "Special Elite", cursive;
  color: #2a2b2d;
  padding: 0;
  margin: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInTop {
  0% {
    width: 0;
    height: 0;
    border-top: 3px solid #2a2b2d;
    border-bottom: 0;
    padding: 0;
    margin: 0;
  }
  25% {
    width: 25vw;
    height: 0;
    border-top: 3px solid #2a2b2d;
    padding: 0;
    margin: 0;
  }
  50% {
    width: 25vw;
    border-top: 3px solid #2a2b2d;
    border-right: 3px solid #2a2b2d;
    padding: 0;
    margin: 0;
  }
  75% {
    width: 25vw;
    border-top: 3px solid #2a2b2d;
    border-right: 3px solid #2a2b2d;
    border-left: 3px solid #2a2b2d;
    top: 50%;
    border-bottom: 0;
    margin: 0;
  }
  100% {
    height: 10vh;
    border: 3px solid #2a2b2d;
    opacity: 1;
    padding: 1rem;
  }
}
@keyframes fadeInBottom {
  0% {
    width: 0;
    height: 0;
    border-top: 3px solid #2a2b2d;
    border-bottom: 0;
    padding: 0;
    margin: 0;
  }
  25% {
    width: 60vw;
    height: 0;
    border-top: 3px solid #2a2b2d;
    padding: 0;
    margin: 0;
  }
  50% {
    width: 60vw;
    border-top: 3px solid #2a2b2d;
    border-right: 3px solid #2a2b2d;
    padding: 0;
    margin: 0;
  }
  75% {
    width: 60vw;
    border-top: 3px solid #2a2b2d;
    border-right: 3px solid #2a2b2d;
    border-left: 3px solid #2a2b2d;
    top: 50%;
    border-bottom: 0;
    margin: 0;
  }
  100% {
    width: 60vw;
    height: 25vh;
    border: 3px solid #2a2b2d;
    opacity: 1;
    padding: 1rem;
  }
}
.waves {
  animation-name: fadeIn;
  animation-duration: 1s;
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
@media (max-width: 1800px) {
  .main_title_Iam {
    font-size: 2em;
  }
}
@media (max-width: 1200px) {
  .main_title_Iam {
    font-size: 1.5em;
  }
}
.navNone {
  display: none;
}
@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
.nav {
  width: 100vw;
  height: 5vh;
  background-color: #2a2b2d;
  position: fixed;
  top: 0;
  animation: moveDown 1s ease-in-out;
  display: flex;
  align-items: center;
}
.links_two {
  text-decoration: none;
  color: #2da8d8;
}
.the_text {
  display: absolute;
  z-index: 1;
  min-width: 100%;
  text-decoration: none;
  font-size: 1.2em;
  color: #2da8d8;
}
.nav_seperation_div_home {
  margin-left: 2rem;
}
.nav_seperation_div_projects {
  margin-left: 2rem;
}
.nav_seperation_div_about {
  margin-left: 2rem;
}
.nav_seperation_div_contact {
  margin-left: 2rem;
}
.nav_text {
  padding: 0.2rem;
  width: 0%;
}
.nav_text:hover {
  animation: hoverAnimationNav 0.5s forwards;
}
@keyframes hoverAnimationNav {
  0% {
    width: 0%;
    padding: 0.2rem;
  }
  100% {
    width: 100%;
    padding: 0.2rem;
    transform: scaleX(1);
    background-color: #3f4042;
    border-radius: 0.3rem;
  }
}
.second_division {
  margin-top: 12vh;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #2da8d8;
}
.projects_div {
  padding-top: 4rem;
  padding-left: 2rem;
}
.projects_pictures_video {
  height: 35vh;
  border-radius: 1rem;
  margin-right: 2rem;
  background-color: #2a2b2d;
  box-shadow: 6px 12px 10px #2a2b2d;
}
.projects_main_component_div {
  display: flex;
  width: 90%;
  height: 30vh;
  margin-bottom: 5rem;
}
.about_me {
  min-height: 100vh;
  background-color: #2da8d8;
  color: #2a2b2d;
}
.about_title {
  padding-top: 4rem;
  padding-left: 2rem;
  width: 70vw;
}
.about_pictures {
  margin: 2rem;
  height: 30vh;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #2a2b2d;
}
@keyframes arrowJiggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.arrow_up {
  height: 3vh;
  border-radius: 1rem;
}
.arrow_up:hover {
  animation: arrowJiggle 0.5s forwards;
}
.invisible_divs {
  display: none;
}
@keyframes makeVisible {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
.arrow_left {
  height: 3vh;
  border-radius: 1rem;
}
.visible_divs {
  animation: makeVisible 1s forwards;
}
@keyframes arrowJiggleDown {
  0% {
    transform: rotate(0deg);
    height: 3vh;
    border-radius: 1rem;
  }
  100% {
    transform: rotate(-90deg);
    height: 3vh;
    border-radius: 1rem;
  }
}
.arrow_down {
  animation: arrowJiggleDown 1s forwards;
}
.arrow_down:hover {
  animation: arrowJiggleDown 0.5s forwards;
}
.contact_me {
  min-height: 100vh;
  background-color: #2da8d8;
  color: #2a2b2d;
}
.button-container-1 {
  position: relative;
  width: 10vw;
  height: 7vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  overflow: hidden;
  border: 1px solid;
  font-weight: 300;
  font-family: "Special Elite", cursive;
  font-size: 1.1em;
  transition: 0.5s;
  letter-spacing: 1px;
  color: #2da8d8;
}
.button-container-1 .mas {
  position: absolute;
  color: #2a2b2d;
  text-align: center;
  width: 101%;
  font-weight: 400;
  position: absolute;
  font-size: 1.15em;
  margin-top: 15px;
  overflow: hidden;
}
.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: "Special Elite", cursive;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 1px;
  background: #2a2b2d;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #2da8d8;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}
#work:hover {
  color: #2a2b2d;
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
.button-container-2 {
  position: relative;
  border-radius: 0.5rem;
  width: 10vw;
  height: 7vh;
  margin-top: 2vh;
  overflow: hidden;
  border: 1px solid;
  font-weight: 300;
  font-family: "Special Elite", cursive;
  font-size: 1.1em;
  transition: 0.5s;
  letter-spacing: 1px;
  color: #2da8d8;
}
.button-container-2 .mas2 {
  position: absolute;
  color: #2a2b2d;
  text-align: center;
  width: 101%;
  font-weight: 400;
  position: absolute;
  font-size: 1.15em;
  margin-top: 15px;
  overflow: hidden;
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: "Special Elite", cursive;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 1px;
  background: #2a2b2d;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #2da8d8;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}
#work2:hover {
  color: #2a2b2d;
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
.contact_form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputBars {
  width: 25vw;
  background-color: #2da8d8;
  border: 0;
  height: 4vh;
  padding: 5px;
  font-size: 1.5em;
  border-radius: 0.5rem;
  border: 1px solid rgba(42, 43, 45, 0.301);
  color: #2a2b2d;
  font-family: "Special Elite", cursive;
  padding-left: 10px;
}
.inputBars:hover {
  border: 1px solid #333436;
}
.myTextArea {
  width: 40vw;
  background-color: #2da8d8;
  border: 0;
  font-size: 1.5em;
  height: 25vh;
  padding: 10px;
  font-family: "Special Elite", cursive;
  border-radius: 0.5rem;
  color: #2a2b2d;
  border: 1px solid rgba(42, 43, 45, 0.301);
}
.my_submit_button {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #2a2b2d;
  color: #2da8d8;
  font-family: "Special Elite", cursive;
  font-size: 1em;
  border-radius: 0.5rem;
}
.myTextArea:hover {
  border: 1px solid #333436;
}
.labels_contact {
  margin-top: 2rem;
  letter-spacing: 1px;
  font-size: 1.5em;
}
.myForm {
  padding: 2rem;
}
.section {
  padding-top: 7rem;
  padding-left: 2rem;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.submitted_message {
  font-family: "Special Elite", cursive;
  font-size: 2em;
  color: #2a2b2d;
  padding-top: 10rem;
}
@media only screen and (max-width: 1350px) {
  html {
    font-size: 90%;
  }
  .button-container-2 {
    width: 15vw;
  }
}
@media (max-width: 800px) {
  .waves {
    height: 40px;
    min-height: 120px;
  }
  .content {
    height: 10vh;
  }
  h1 {
    font-size: 24px;
  }
  .button-container-1 {
    width: 24vw;
  }
  .button-container-2 {
    width: 30vw;
  }
  .myTextArea {
    width: 70vw;
  }
  .inputBars {
    width: 40vw;
  }
  .title_container {
    width: 50vw;
  }
  .middle_content_container {
    min-width: 80vw;
  }
  .projects_main_component_div {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .projects_pictures_video {
    width: 40vw;
    height: 22vh;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 2px #2a2b2d;
  }
  .about_text {
    width: 95vw;
  }
  .about_title {
    padding-top: 4rem;
    padding-left: 0.5rem;
    width: 70vw;
  }
  .about_pictures {
    height: 20vh;
    margin: 1rem;
  }
  .visible_divs {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .links_two {
    padding: 0;
    margin: 0.5rem;
  }
}
@media (max-width: 400px) {
  .projects_main_component_div {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  .projects_pictures_video {
    width: 80vw;
    height: 22vh;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 2px #2a2b2d;
  }
}
